body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

header {
  background-color: #fed94f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header nav a {
  color: white;
  display:inline-block;
  width:50%;
  text-align:center;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin: 40px 0;
}

section h1 {
  margin-bottom: 20px;
}


